
 /* General page style. The scroll bar colours only visible in IE5.5+ */
body {
   color: #000000;
	background-color: #FFFFFF;
   margin: 10px;
}

BODY, P, DIV, TD, TH, TR, FORM, OL, UL, LI, INPUT, TEXTAREA, SELECT, A
{
            font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
}

/* General font families for common tags */
font,th,td,p { font-family: Verdana, Arial, Helvetica, sans-serif }
a:link,a:active,a:visited {
	text-decoration: none;
}

a:hover		{ text-decoration: underline;  }
/* hr	{ height: 0px; border: solid #000000 0px; border-top-width: 1px;} */


/* This is the border line & background colour round the entire page */
.bodyline	{ background-color: #FFFFFF; border: 1px #98AAB1 solid; }

/* This is the outline round the main forum tables */
.forumline	{ background-color: #FFFFFF; border: 2px #000080 solid; }


/* Main table cell colours and backgrounds */
td.row1	{ background-color: #EFEFEF; }
td.row2	{ background-color: #DEE3E7; }
td.row3	{ background-color: #D1D7DC; }


/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic {
		background-color: #D1D7DC;
}

/* Header cells - the blue and silver gradient backgrounds */
th	{
	color: #FFFF80; font-size: 11px; font-weight : bold;
	background-color: #000080; height: 25px;
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
			background-color:#D1D7DC; border: #FFFFFF; border-style: solid; height: 28px;
}


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 0px 0px 0px 0px;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
	font-weight: bold; border: #FFFFFF; border-style: solid; height: 28px; }
td.row3Right,td.spaceRow {
	background-color: #D1D7DC; border: #FFFFFF; border-style: solid; }

th.thHead,td.catHead { font-size: 12px; border-width: 1px 1px 0px 1px; }
th.thSides,td.catSides,td.spaceRow	 { border-width: 0px 1px 0px 1px; }
th.thRight,td.catRight,td.row3Right	 { border-width: 0px 1px 0px 0px; }
th.thLeft,td.catLeft	  { border-width: 0px 0px 0px 1px; }
th.thBottom,td.catBottom  { border-width: 0px 1px 1px 1px; }
th.thTop	 { border-width: 1px 0px 0px 0px; }
th.thCornerL { border-width: 1px 0px 0px 1px; }
th.thCornerR { border-width: 1px 1px 0px 0px; }


/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1,h2	{
			font-weight: bold; font-size: 22px; font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
			text-decoration: none; line-height : 120%; color : #000000;
}


/* General text */
.gen { font-size : 12px; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall { color : #000000; }
a.gen,a.genmed,a.gensmall { color: #000080; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #DD6900; text-decoration: underline; }


/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 11px; color : #000000 }
a.mainmenu		{ text-decoration: none; color : #000080;  }
a.mainmenu:hover{ text-decoration: underline; color : #DD6900; }


/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 12px ; letter-spacing: 1px; color : #000080}
a.cattitle		{ text-decoration: none; color : #000080; }
a.cattitle:hover{ text-decoration: underline; }


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 12px; color : #000080; }
a.forumlink 	{ text-decoration: none; color : #000080; }
a.forumlink:hover{ text-decoration: underline; color : #DD6900; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 11px; color : #000000;}
a.nav			{ text-decoration: none; color : #000080; }
a.nav:hover		{ text-decoration: underline; }


/* titles for the topics: could specify viewed link colour too */
.topictitle			{ font-weight: bold; font-size: 11px; color : #000000; }
a.topictitle:link   { text-decoration: none; color : #000080; }
a.topictitle:visited { text-decoration: none; color : #5493B4; }
a.topictitle:hover	{ text-decoration: underline; color : #DD6900; }


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size : 11px; color : #000000;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size : 10px; color : #000000; }


/* The content of the posts (body of text) */
.postbody { font-size : 12px;}
a.postlink:link	{ text-decoration: none; color : #000080; }
a.postlink:visited { text-decoration: none; color : #5493B4; }
a.postlink:hover { text-decoration: underline; color : #DD6900}


/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #006600;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #444444; line-height: 125%;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}


/* Copyright and bottom info */
.copyright		{ font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #444444; letter-spacing: -1px;}
a.copyright		{ color: #444444; text-decoration: none;}
a.copyright:hover { color: #000000; text-decoration: underline;}


/* Form elements */
input,textarea, select {
	color : #000000;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border-color : #000000;
}

/* The text input fields background colour */
input.post, textarea.post, select {
	background-color : #FFFFFF;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
	background-color : #EFEFEF;
	color : #000000;
	font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* The main submit button option */
input.mainoption {
	background-color : #FAFAFA;
	font-weight : bold;
}

/* None-bold submit button */
input.liteoption {
	background-color : #FAFAFA;
	font-weight : normal;
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { background-color: #DEE3E7; border-style: none; }

/***************** bob's stuff **************/


.Border {
            border-style: solid;
            border-width: 2px;
}

.BlueBorder {
            border-style: solid;
            border-width: 2px;
            border-color: #000080;
}


.Shadow {
            border-bottom: 2px solid #808080;
            border-right: 2px solid #808080;
            margin-bottom: 5px;
            font-size: 12px;
}

.NewsBox {
            font-size: 10px;
            border-bottom: 2px solid #808080;
            border-right: 2px solid #808080;
}

.NewsBoxToolbar {
            font-size: 10px;
            border-right: 2px solid #808080;
            border-left: solid black 1px;
}

.Toolbar {
   background-color: #404040; 
   color: #FFFFFF;
   font-size: 12px;
   font-weight: bold;
   white-space: nowrap;
   text-decoration: none;
   padding-left: 3px;
   padding-bottom: 3px;
   padding-top: 3px;
   text-align: center;
}

.SideHeader {
   background-color: #000080;
   color: #FFFF80;
   font-size: 12px;
   font-weight: bold;
   white-space: nowrap;
   text-decoration: none;
   padding-left: 3px;
   padding-bottom: 3px;
   padding-top: 3px;
   text-align: center;
}
.SideHeader a {
   color: #FFFF80;
   background-color: #000080;
}

.SideItem {
   color: #000080;
   background-color: #c0c0c0;
   font-size: 10px;
   font-weight: normal;
   padding: 3px;
}

.SideItem { text-decoration: none; }

td.SideItem a:hover {
   background-color: #000080;
   color: #FFFF80;
   text-decoration: none;
}

.SideItem a:hover img {
   color: #000080;
   background-color: #c0c0c0;
   text-decoration: none;
}  

.NewsNav {
   background-color: #FFFF80;
   color: #000080;
   text-decoration: none;
   font-size: 12px;
   font-weight: bold;
   text-align: center;
   border-top: solid black 1px;
   border-bottom: solid black 1px;
}

.NewsNav a {
   color: #000080;
   background-color: #FFFF80;
}

td.NewsNav a:hover {
   background-color: #000080;
   color: #FFFF80;
   text-decoration: none;
}

.AdminNav {
   background-color: #D0D0D0;
   color: #000000;
   text-decoration: none;
   font-size: 10px;
   font-weight: normal;
   text-align: center;
   padding-bottom: 2px;
   padding-top: 2px;
}

.AdminNav a {
   color: #000000;
}

td.AdminNav a:hover {
   background-color: #000000;
   color: #D0D0D0;
   text-decoration: none;
}

.NewsItem {
            font-size: 12px;
            border-bottom: 2px solid #808080;
            border-right: 2px solid #808080;
}

.TopNav {
   font-size: 12px;
   font-weight: bold;
   text-align: right;
   color: #000080;
}

.TopNav a {
   color: #000080;
   background-color: #FFFFFF;
}

.TopNav a:hover {
   background-color: #000080;
   color: #FFFFFF;
   text-decoration: none;
}

.Newsupdated {
   color: #FFFF80;
}

.Newsnew {
   color: #008000;
}

.Newsdefault {
   color: #000080;
}

.FormHeader {
   background-color: #000080;
   color: #FFFF80;
   font-weight: bold;
   white-space: nowrap;
   text-decoration: none;
   padding-left: 3px;
   padding-bottom: 3px;
   padding-top: 3px;
   text-align: center;
}

.EditForm {
   color: #000000;
   background-color: #FFFFC0;
   border-style: solid;
   border-width: 1px;
   font-size: 12px;
}


.LightRow {
   background-color: #FFFFA0;
}

.DarkRow {
   background-color: #C0C0A0;
}

.AdminTable {
   color: #000000;
   background-color: #FFFFFF;
   border-style: solid;
   border-width: 1px;
   font-size: 11px;
}

.AdminHeader {
   color: #000000;
   background-color: #C0C0C0;
   font-weight: bold;
   white-space: nowrap;
   text-align: center;
   font-size: 14px;
}
   
.AdminTable a {
   text-decoration: none;
}

.AdminTable a:hover {
   text-decoration: none;
   background-color: #000080;
   color: #FFFFA0;
}

.ErrorText {
   color: #FF0000;
   font-weight: bold;
}

.smallgray { font-size : 10px;  color: #808080; }
.smallgray a { text-decoration: none; color: #909090; }
.smallgray a:hover { text-decoration: underline; }


/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
/* @import url("formIE.css"); */
