{% load i18n future mezzanine_tags tome_tags keyword_tags %}

<div class="game-info">
    <h2>{{ game.title }}</h2>
    {% if game.featured_image %}
        {% block game_list_post_featured_image %}
        <img class="featured-thumb" src="{{ MEDIA_URL }}{% thumbnail game.featured_image 90 90 %}">
        {% endblock %}
    {% endif %}
    {{ game.description }}
    {% include "tome/includes/link_list.html" %}
</div>
