{% load i18n future mezzanine_tags tome_tags keyword_tags %}
<ul>
{% for link in game.links.all %}
		<li>
    {% if link.is_download %}
        <i class="icon icon-download"></i>
    {% elif link.is_git %}
        <i class="icon icon-git"></i>
    {% elif link.is_source %}
        <i class="icon icon-cogs"></i>
    {% elif link.is_purchase %}
        <i class="icon icon-shopping-cart"></i>
    {% elif link.is_documentation %}
        <i class="icon icon-book"></i>
    {% elif link.is_social %}
        <i class="icon icon-group"></i>
    {% else %}
        {% if not forloop.first %}
            <i class="icon icon-info-sign"></i>
        {% endif %}
    {% endif %}
    <a href="{{ link.url }}">
        {{ link.description }}
        <i class="icon icon-external-link"></i>
    </a>
		</li>
{% endfor %}
</ul>
