{% load i18n future mezzanine_tags tome_tags keyword_tags %}
{% load fuzzydt %}

{% for update in updates.object_list %} {% with update.game as game %}
    {% ifchanged update.publish_date.day %}
        <h3>{{ update.publish_date|fuzzy_datetime:"df"|capfirst }}.</h3>
    {% endifchanged %}

    <div class="update-row row">
        {% if not game.is_happy_penguin %}
            <div class="span4 left">
                {% include "tome/includes/game_info.html" %}
            </div>
        {% endif %}

        <div class="{% if not game.is_happy_penguin %}span8 middle {% endif %} update {% if game.is_happy_penguin %}site-news{% endif %} {{ update.get_type_class }}">
            {% block game_list_post_title %}
            <h2>
                <a href="{{ game.get_absolute_url }}">
                {% editable update.title %}
                    {{ update.title }}
                {% endeditable %}
                </a>
            </h2>
            {% endblock %}

            {% block game_list_post_metainfo %}
                {% editable game.publish_date %}
                <h6>
                    {% comment %}
                        {% with game.user as author %}
                        <a href="{% url "game_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
                        {% endwith %}
                    {% endcomment %}
                    {% with game.category.all as categories %}
                        {% if categories %}
                            {% trans "in" %}
                            {% for category in categories %}
                                <a href="{% url "game_list_category" category.slug %}">{{ category }}</a>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% blocktrans with sometime=game.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
                </h6>
                {% endeditable %}
            {% endblock %}

            {% block game_list_post_content %}
                {% editable update.content %}
                    {{ update.description_from_content|safe }}
                {% endeditable %}
            {% endblock %}

            {% block game_list_post_links %}
                {% if not game.is_happy_penguin %}
                    <p class="blog-list-detail">
                        {% keywords_for game as tags %}
                        {% if tags %}
                            {% trans "Tags" %}:
                            {% spaceless %}
                                {% for tag in tags %}
                                <a href="{% url "game_list_tag" tag.slug %}" class="tag">{{ tag }}</a>
                                {% endfor %}
                            {% endspaceless %}
                            <br>
                        {% endif %}

                        <a href="{{ game.get_absolute_url }}">{% trans "More information" %}</a>
                    </p>
                {% endif %}
            {% endblock %}
        </div>
    </div>
{% endwith %} {% endfor %}

{% pagination_for updates %}


