<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-responsive.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>

{% comment %}
<script src="{% static "filebrowser/js/jquery-ui-1.9.1.custom.min.js" %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script src="{% static "filebrowser/js/filebrowser-popup.js" %}"></script>
<link rel="stylesheet" href="{% static "css/jquery-ui-1.10.2.custom.css" %}" />
{% endcomment %}

<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}
<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<![endif]-->
<link rel="stylesheet" href="{% static "css/site.css" %}" />
<link rel="stylesheet" href="{% static "css/bootstrap_theme.css" %}" />

<link rel="stylesheet" href="{% static "css/font-awesome/css/font-awesome.css" %}">
<link href='http://fonts.googleapis.com/css?family=Molle:400italic|Rancho' rel='stylesheet' type='text/css'>


{% block extra_head %}{% endblock %}

</head>
<body id="{% block body_id %}body{% endblock %}">

<div class="container-fluid">
		<div class="row-fluid top">
				{% nevercache %}
				{% for message in messages %}
				<div class="alert alert-{{ message.tags }}" data-alert="alert">
						<a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
				</div>
				{% endfor %}
				{% endnevercache %}


				<div class="masthead pull-left">
						<div class="logo">
								<h1><a href="/">Happy Penguin</a></h1>
								<img src="{% static "img/tux_asleep.png" %}" />
						</div>
						<div class="starburst">
								<a href="/history/">Est. 1995</a>
						</div>
				</div>
						<ul id="top-menu" class="nav-list ">
                                {% comment %}
								<li id="top-menu-home" class="first{% if on_home %} active{% endif %}">
										<a href="{% url "home" %}">{% trans "Home" %}</a>
								</li>
                                {% endcomment %}
								<li id="top-menu-home" class="first{% if on_submit %} active{% endif %}">
										<a href="{% url "game_submit" %}"><i class="icon icon-upload-alt"></i> {% trans "Submit" %}</a>
								</li>
						</ul>

				{% search_form "all" %}
				<div class="pull-right right-stuff">
						<!--<h2>The Linux Game Tome</h2>-->
				</div>
				</div>
		</div>

		<div class="row-fluid main-body-outer">
				<div class="row-fluid main-body">

						<div class="span2 left">
								{% block left_panel %}
								{% endblock %}
								<img src="{% static "img/man.png" %}" class="left" />
						</div>

						<div class="span7 middle">

								{% comment %}
								<ul class="breadcrumb">
								{% spaceless %}
								{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
								{% endspaceless %}
								</ul>
								{% endcomment %}


								{% block main %}{% endblock %}
						</div>

						<div class="span3 right">
								<img src="{% static "img/woman_2.png" %}" class="character-right" />
								{% nevercache %}
										{% include "includes/user_panel.html" %}
								{% endnevercache %}
								<div class="panel">
								{% block right_panel %}
										{% ifinstalled mezzanine.twitter %}
												{% include "twitter/tweets.html" %}
										{% endifinstalled %}
								{% endblock %}
								</div>
						</div>
				</div>
		</div>
</div>

<footer>

<div class="container-fluid">
{% page_menu "pages/menus/footer.html" %}
<p>
<!--
TODO Put this in a credits page, looks too hokey here
-->
    {% trans "Powered by" %}
    <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},
    <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}
    {% trans "and" %}
    <a href="http://www.djangoproject.com">Django</a>
    <span class="separator">|</span>
    {% trans "Theme by" %} <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>
    {% ifinstalled mezzanine.mobile %}
    <span class="separator">|</span>
    <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
    {% endifinstalled %}
</p>
</div>
</footer>

{% include "includes/footer_scripts.html" %}

</div>
</body>
</html>
