
/* **************************************** */
/* * General site style                   * */
/* **************************************** */
/*h1, h2, h3, h4, h5, h6 {*/
h1 {
        font-family: "Molle", cursive !important;
        font-style: italic;
}
h2 {
    font-family: serif;
}

h3, h4, h5, h6 {
        font-family: "Rancho", cursive;
}



.masthead h1 {
        font-size: 62pt;
        line-height: 100px;
}

h1 a:hover {
  color: #4b490b;
    text-decoration: none;
}

.right-stuff h2 {
    display: inline-block;
}
.masthead, .logo {
        display: inline-block;
        position: relative;
}

.masthead img {
        position: absolute;
        top: 0;
        right: 0;

}

.starburst {
    display: inline-block;
    background: url('../img/star_burst.png') no-repeat;
    height: 74px;
    width: 74px;
    font-family: "Molle", cursive;
    font-style: italic;
    font-size: 15pt;
    padding-top: 15px;
    text-align: center;
    margin-left: 20px;
}
.starburst a:hover {
    text-decoration: none;
}


.starburst.small {
        font-family: "Rancho", cursive;
        font-size: 12pt;
        padding-top: 26px;
        text-align: center;
}

img.character-right {
        top: -150px;
        right: 50px;
        position: absolute;
}


img.left {
        float: left;
}


img.character-right, img.left, .masthead img {
        border: 0;
        box-shadow: none;
}


a.brand {
        font-size: 32pt !important;
        font-family: "Molle", cursive !important;
        font-style: italic;
}

div.main-body-outer {
        max-width: 100%;
        box-sizing: border-box;
        border-style: solid;
        border-width: 10px 0px;

        -moz-border-image: url("../img/circle.png") 10 0 repeat;
        -webkit-border-image: url("../img/circle.png") 10 0 repeat;
        -o-border-image: url("../img/circle.png") 10 0 repeat;
        border-image: url("../img/circle.png") 10 0 fill repeat;
}

div.row-fluid.main-body {
        padding: 20px;
        background: white;
        display: block;
        position: relative;
}


body {
        background: url('../img/lyonnette.png');
        padding-top: 0;
}

#top-menu {
    display: inline-block;
    padding: 20px;
}

#top-menu li {
        display: inline;
        margin-right: 30px;
}
#top-menu a {
        display: inline;
        margin: 5px;
        padding: 2px;
        font-size: 25pt;
        letter-spacing: 3px;
        font-family: "Rancho", cursive;
}

#top-menu a:hover {
        text-decoration: none;
}

ul.breadcrumb {
        background: #E2DF9A;
}


/* **************************************** */
/* * Update styles                        * */
/* **************************************** */

.update.site-news h2 a {
    color: black;
}
.update.site-news {
    background: #E2DF9A;
    padding: 10px;
}

/* **************************************** */
/* * Game info styles                     * */
/* **************************************** */
.game-info {
    display: block;
}

div.update p,
div.update li {
    font-size: 10pt;
    line-height: 10pt;
}



