{% extends "base.html" %}
{% load i18n future mezzanine_tags tome_tags keyword_tags disqus_tags %}
{% load crispy_forms_tags %}


{% block title %}
{% trans "Submit a game" %}
{% endblock %}


{% block left_panel %}
    <p class="well">Use this page to submit your native Linux compatible game
    to the tome. After you submit it, it will be reviewed, and then you will be able to post updates, and
    more!</p>

{% endblock %}

{% block main %}
    <h2>Submit a Linux game to the Linux Game Tome.</h2>
    {% crispy form form.helper %}
{% endblock %}

{% block right_panel %}
    <h3>About</h3>
    <p>The Linux game tome has been the foremost database and news-site for
    Linux video-games since 1995. That's only 4 years after Linus wrote the
    very first version of Linux, predating Google, Facebook, and almost all
    popular websites today. List your Linux game today!</p>


{% endblock %}

