{% extends "base.html" %}
{% comment %}

Should refactor into update_list.html

{% endcomment %}

{% load i18n future mezzanine_tags tome_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.richtextpage.meta_title }}{% else %}{% trans "Games" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% trans "Game" %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
{% if tag or category or year or month or author %}
<li>{% spaceless %}
{% if tag %}
    {% trans "Tag:" %} {{ tag }}
{% else %}{% if category %}
    {% trans "Category:" %} {{ category }}
{% else %}{% if year or month %}
    {% if month %}{{ month }}, {% endif %}{{ year }}
{% else %}{% if author %}
    {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
{% endif %}{% endif %}{% endif %}{% endif %}
{% endspaceless %}
</li>
{% endif %}
{% endblock %}

{% block main %}

{% if tag or category or year or month or author %}
    {% block game_list_filterinfo %}
    <p>
    {% if tag %}
        {% trans "Viewing games tagged" %} {{ tag }}
    {% else %}{% if category %}
        {% trans "Viewing games for the category" %} {{ category }}
    {% else %}{% if year or month %}
        {% trans "Viewing games from" %} {% if month %}{{ month }}, {% endif %}
        {{ year }}
    {% else %}{% if author %}
        {% trans "Viewing games by" %}
        {{ author.get_full_name|default:author.username }}
    {% endif %}{% endif %}{% endif %}{% endif %}
    {% endblock %}
    </p>
{% else %}
    {% if page %}
    {% block game_list_pagecontent %}
    {% editable page.richtextpage.content %}
    {{ page.richtextpage.content|richtext_filter|safe }}
    {% endeditable %}
    {% endblock %}
    {% endif %}
{% endif %}

{% for game in games.object_list %}
{% block game_list_post_title %}
{% editable game.title %}
<h2>
    <a href="{{ game.get_absolute_url }}">{{ game.title }}</a>
</h2>
{% endeditable %}
{% endblock %}
{% block game_list_post_metainfo %}
{% editable game.publish_date %}
<h6>
    {% trans "Updated " %}
    {% comment %}
    {% with game.user as author %}
    <a href="{% url "game_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
    {% endwith %}
    {% endcomment %}
    {% with game.category.all as categories %}
        {% if categories %}
            {% trans "in" %}
            {% for category in categories %}
                <a href="{% url "game_list_category" category.slug %}">{{ category }}</a>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% blocktrans with sometime=game.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
</h6>
{% endeditable %}
{% endblock %}

{% if game.featured_image %}
{% block game_list_post_featured_image %}
<img class="featured-thumb" src="{{ MEDIA_URL }}{% thumbnail game.featured_image 90 90 %}">
{% endblock %}
{% endif %}

{% block game_list_post_content %}
{% editable game.content %}
{{ game.description_from_content|safe }}
{% endeditable %}
{% endblock %}

{% block game_list_post_links %}

<p class="blog-list-detail">
    {% keywords_for game as tags %}
    {% if tags %}
        {% trans "Tags" %}:
        {% spaceless %}
            {% for tag in tags %}
            <a href="{% url "game_list_tag" tag.slug %}" class="tag">{{ tag }}</a>
            {% endfor %}
        {% endspaceless %}
        <br>
    {% endif %}
    <a href="{{ game.get_absolute_url }}">{% trans "More information" %}</a>
        {% for link in game.links.all %}
            &nbsp;
            &nbsp;
            {% if link.is_download %}
                <i class="icon icon-download"></i>
            {% elif link.is_git %}
                <i class="icon icon-git"></i>
            {% elif link.is_source %}
                <i class="icon icon-cogs"></i>
            {% elif link.is_purchase %}
                <i class="icon icon-shopping-cart"></i>
            {% elif link.is_documentation %}
                <i class="icon icon-book"></i>
            {% elif link.is_social %}
                <i class="icon icon-group"></i>
            {% else %}
                {% if not forloop.first %}
                    <i class="icon icon-info-sign"></i>
                {% endif %}
            {% endif %}
            <a href="{{ link.url }}">
                {{ link.description }}
                <i class="icon icon-external-link"></i>
            </a>

        {% endfor %}
    {% comment %}
    /
    {% if settings.COMMENTS_DISQUS_SHORTNAME %}
    <a href="{{ game.get_absolute_url }}#disqus_thread"
        data-disqus-identifier="{% disqus_id_for game %}">
        {% trans "Comments" %}
    </a>
    {% else %}
    <a href="{{ game.get_absolute_url }}#comments">
        {% blocktrans count game.comments_count as comments_count %}1 comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
    </a>
    {% endif %}
    {% endcomment %}

</p>
{% endblock %}
{% endfor %}

{% pagination_for games %}

{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_counts.html" %}
{% endif %}

{% endblock %}

{% block left_panel %}
{% include "tome/includes/filter_panel.html" %}
{% endblock %}
