{% extends "tome/game_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n future disqus_tags %}

{% block meta_title %}{{ game.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for game as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ game.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable game.title %}{{ game.title }}{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li class="active">{{ game.title }}</li>
{% endblock %}

{% block main %}

{% block game_detail_postedby %}
{% editable game.publish_date %}
<h6>
    {% trans "Submitted by " %}:
    {% with game.user as author %}
    <a href="{% url "game_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
    {% endwith %}
    {% blocktrans with sometime=game.submission_date|timesince %}{{ sometime }} ago{% endblocktrans %}
    {% trans "Approved by " %} | 
    {% with game.approved_by as author %}
    <a href="{% url "game_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
    {% endwith %}
    {% blocktrans with sometime=game.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
</h6>

{% endeditable %}
{% endblock %}
{% block game_detail_commentlink %}
<p>
    {% comment %}
    {% if settings.COMMENTS_DISQUS_SHORTNAME %}
        (<a href="{{ game.get_absolute_url }}#disqus_thread"
            data-disqus-identifier="{% disqus_id_for game %}">{% spaceless %}
            {% trans "Comments" %}
        {% endspaceless %}</a>)
    {% else %}
    {% endif %}
    {% endcomment %}
    (<a href="#comments">{% spaceless %}
    {% blocktrans count game.comments_count as comments_count %}1 comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
    {% endspaceless %}</a>)
</p>
{% endblock %}

{% block game_detail_featured_image %}
{% if game.featured_image %}
    <p><img src="{{ MEDIA_URL }}{% thumbnail game.featured_image 600 0 %}"></p>
{% endif %}
{% endblock %}

{% block game_detail_content %}
{% editable game.content %}
{{ game.content|richtext_filter|safe }}
{% endeditable %}
{% endblock %}

{% block game_detail_keywords %}
{% keywords_for game as tags %}
{% if tags %}
{% spaceless %}
<ul class="unstyled tags">
    <li>{% trans "Tags" %}:</li>
    {% for tag in tags %}
    <li><a href="{% url "game_list_tag" tag.slug %}">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endif %}
{% endblock %}

{% rating_for game %}

{% block game_detail_sharebuttons %}
{% set_short_url_for game %}
<a class="btn small primary share-twitter" target="_blank" href="http://twitter.com/home?status={{ game.short_url|urlencode }}%20{{ game.title|urlencode }}">{% trans "Share on Twitter" %}</a>
<a class="btn small primary share-facebook" target="_blank" href="http://facebook.com/sharer.php?u={{ request.build_absolute_uri }}&amp;t={{ game.title|urlencode }}">{% trans "Share on Facebook" %}</a>
{% endblock %}

{% block game_previous_next %}
<ul class="pager">
{% with game.get_previous_by_publish_date as previous %}
{% if previous %}
<li class="previous">
    <a href="{{ previous.get_absolute_url }}">&larr; {{ previous }}</a>
</li>
{% endif %}
{% endwith %}
{% with game.get_next_by_publish_date as next %}
{% if next %}
<li class="next">
    <a href="{{ next.get_absolute_url }}">{{ next }} &rarr;</a>
</li>
{% endif %}
{% endwith %}
</ul>
{% endblock %}

{% include "tome/includes/update_list.html" %}

{% block game_detail_comments %}
{% comments_for game %}
{% endblock %}

{% endblock %}
