{% extends "base.html" %}
{% load i18n future mezzanine_tags tome_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.richtextpage.meta_title }}{% else %}{% trans "Game" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
    {% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
    {% trans "Game" %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
{% if tag or category or year or month or author %}
<li>{% spaceless %}
{% if tag %}
    {% trans "Tag:" %} {{ tag }}
{% else %}{% if category %}
    {% trans "Category:" %} {{ category }}
{% else %}{% if year or month %}
    {% if month %}{{ month }}, {% endif %}{{ year }}
{% else %}{% if author %}
    {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
{% endif %}{% endif %}{% endif %}{% endif %}
{% endspaceless %}
</li>
{% endif %}
{% endblock %}

{% block main %}

    {% if tag or category or year or month or author %}
        {% block game_list_filterinfo %}
        <p>
        {% if tag %}
            {% trans "Viewing updates tagged" %} {{ tag }}
        {% else %}{% if category %}
            {% trans "Viewing updates for the category" %} {{ category }}
        {% else %}{% if year or month %}
            {% trans "Viewing updates from" %} {% if month %}{{ month }}, {% endif %}
            {{ year }}
        {% else %}{% if author %}
            {% trans "Viewing updates by" %}
            {{ author.get_full_name|default:author.username }}
        {% endif %}{% endif %}{% endif %}{% endif %}
        {% endblock %}
        </p>
    {% else %}
        {% if page %}
        {% block game_list_pagecontent %}
        {% editable page.richtextpage.content %}
        {{ page.richtextpage.content|richtext_filter|safe }}
        {% endeditable %}
        {% endblock %}
        {% endif %}
    {% endif %}

    {% include "tome/includes/update_list.html" %}

{% endblock %}

{% block left_panel %}
{% include "tome/includes/filter_panel.html" %}
{% endblock %}
